<ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:evtuhovich.ru" />
    <input class="search" type="text" name="q" results="0" placeholder="Поиск"/>
  </fieldset>
</form>
<ul role=main-navigation>
  <li><a href="/">Блог</a></li>
  <li><a href="/blog/archives">Архив</a></li>
  <li><a href="/blog/categories">Индекс</a></li>
  <li><a href="/about">Обо мне</a></li>
</ul>
