---
title: Индекс
blog: blog
---

%div
  %article.article
    %header
      %h1.entry-title Индекс
    %ul#category-list
      - idx = blog('blog').tags
      - idx.sort { |a, b| 10 * (b[1].count <=> a[1].count) + (a[0].mb_chars.downcase <=> b[0].mb_chars.downcase) }.each do |tag, articles|
        %li
          = link_to "#{tag} (#{articles.count})", tag_path(tag)
