---
layout: page
title: Принятие
date: 2017-10-03 12:16
comments: true
sharing: true
footer: true
blog: life
---
%h2 Действующие лица
%ul
  %li 
    %strong Иван —
    главный герой, человек, который не может что-то принять
  %li
    %strong Антон —
    друг главного героя, человек спокойный, который трезво и рационально смотрит на вещи
%h2 Отрицание
%p
  %strong Иван:
  Знаешь, этого просто не может быть. Просто не может быть, я считаю. Я отрицаю сам факт 
  существования возможности того, что такое может случиться в жизни нормально человека. Я правильно жил,
  слушался маму в детстве, хорошо учился в школе, поступил в престижный ВУЗ без взяток, там хорошо учился,
  потом нашел хорошую работу, не грешил, помогал тем, кто слабее меня и в чем-то нуждался по мере возможности,
  я просто не понимаю, почему это происходит со мною, этого не может быть, просто, блять, не может быть.
%p
  %strong Антон:
  Но ведь это есть, это происходит с тобою прямо сейчас. Нельзя просто взять и отрицать то, что происходит
  с тобою прямо здесь и сейчас, нельзя отрицать то, что дано тебе в ощущениях.
%p
  %strong Иван:
  Это просто какая-то ошибка, какая-то нелепая ошибка Господа Бога там, Аллаха какого-нибудь или
  провидения, не знаю, что там управляет Миром и управляет ли, вообще, что-нибудь. Иногда мне кажется, что
  наша жизнь — это набор каких-то случайных, не связанных между собою событий, которые мы хотим наделить
  смыслом просто в силу того, что бессмысленность противоречит самой идее нашего существования.
%p
  %strong Антон:
  И тем не менее, прямо сейчас это происходит с тобою и твои попытки рационализировать это выглядят
  слабо и неубедительно. Подумай о другом, много людей живут с этим, почему же ты не можешь просто принять
  это?
%p
  %strong Иван:
  Но это же дорога в никуда, путь в бездну. Нельзя поверить, просто нельзя поверить, что наш мир - он вот
  такой, как ты сейчас пытаешь мне описать. В мире обязательно должен быть какой-то порядок, внутренняя
  красота, идея, задумка, какая-то организация, нельзя представить, что Мир — это просто какой-то
  неорганизованный безумный случайный Хаос, набор нелепых событий, который следуют друг за другом как попало.
  Потому что если это правда, стоит покончить с собою как только родился. И да, я никогда не смогу принять то,
  о чем ты говоришь, это нелепость, это какой-то безумный бред, сумашествие и полная, абсолютная бессмысленность.
%p
  %strong Антон:
  И тем не менее, это происходит с тобою прямо здесь и прямо сейчас. И сам факт твоего огормного сопративления
  обозначает значимость того, что здесь сейчас происходит.
%h2 Гнев
%h2 Торг
%h2 Депрессия
%h2 Принятие