---
blog: blog
layout: blog
---

%div
  %article(role="article")
    %header
      %h1.entry-title
        Категория:
        = tagname
    %ul
      - page_articles.group_by { |a| a.date.year }.each do |year, articles|
        %h2= year
        - articles.each do |article|
          %li
            =link_to article.title, article
            %span= article.date.strftime('%b %e')
