{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <div class="mw8 center">
      <section class="flex-wrap justify-around">
        {{ $.Scratch.Set "oldYear" "2000" }}
        {{ range where .Site.RegularPages "Section" "!=" "" }}
          {{ $y := split .Path "/" }}
          {{ $year := index $y 1 }}
          {{ if and (ne $year ($.Scratch.Get "oldYear")) (ne ($.Scratch.Get "oldYear") "2000") }}
            </ul>
          {{ end }}
          {{ if ne $year ($.Scratch.Get "oldYear") }}
          <h2>
            {{- $year }}
          </h2>
          <ul>
          {{ end }}
          <li>
            <a href="{{ .Permalink }}" class="link dim">
              {{ .Title }}
            </a>
            {{ .Date.Format "2006-01-02" }}
          </li>
          {{ $.Scratch.Set "oldYear" $year }}
        {{ end }}

      </section>
    </div>
  </article>
{{ end }}
