%h1 Полезные ссылки
%ul#recent_posts
  %li.post
    Двухдневный практический мастер-класс
    = surround '«', '»' do
      %a(href="https://education.express42.com/devops-ansible?utm_source=evtuhovich")DevOps и Infrastructure as Code на Ansible
    20-21 сентября в Москве
  %li.post
    Однодневный практический мастер-класс
    = surround '«', '»' do
      %a(href="https://education.express42.com/docker-foundation?utm_source=evtuhovich")Docker, базовый курс
    5 октября в Москве
  %li.post
    Двухдневный практический мастер-класс
    = surround '«', '»' do
      %a(href="http://education.express42.com/devops-docker-20?utm_source=evtuhovich")DevOps и Continuous Delivery с использованием Docker 2.0
    25-26 октября в Москве

