%h1 Полезные ссылки
%ul#recent_posts
  %li.post
    Двухдневный практический мастер-класс
    = surround '«', '»' do
      %a(href="http://education.express42.com/devops-ansible")DevOps и Infrastructure as Code на Ansible
    25-26 ноября в Москве

