%h1 Полезные ссылки
%ul#recent_posts
  %li.post
    Двухдневный практический мастер-класс
    = surround '«', '»' do
      %a(href="http://education.express42.com/devops-ansible?utm_source=evtuhovich")DevOps и Infrastructure as Code на Ansible
    13-14 апреля в Москве
  %li.post
    Двухдневный практический мастер-класс
    = surround '«', '»' do
      %a(href="http://education.express42.com/devops-docker?utm_source=evtuhovich")DevOps и Continuous Delivery с использованием Docker

