---
layout: layout
title: Произошла ошибка
date: 2014-04-02 12:16
comments: false
sharing: false
footer: false
blog: blog
---

%div
  %article{role: "article"}
    %h1 Произошла ошибка
    Скорее всего, такой страницы не существует. Попробуйте потыкать по ссылкам меню.
