---
layout: default
pageable: true
per_page: 10
---

.blog-index
  - page_articles('blog').each_with_index do |article, i|
    %article
      = partial 'article', :locals => {:article => article, :i => i}
  .pagination
    -# {% if paginator.next_page %}
    -#   <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    -# {% endif %}
    -# <a href="/blog/archives">Blog Archives</a>
    -# {% if paginator.previous_page %}
    -# <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    -# {% endif %}
